html {
    font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont;
}
div {
    border: .5px solid blue;
} /* apagar dps de terminar */
body {
    margin: 0;
}
:root {
    font-size: calc(.6rem + 0.5vw);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.rightbar {
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.mainRightWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}